*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    width: 70%;
    margin: auto;
    font-family: 'Play', sans-serif;
}

header .top{    
    text-align: center;
    background-color: rgb(16, 126, 100);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .top h1{
    color: rgb(255, 255, 255);
    font-size: 24px;
}

header .links a{
    text-decoration: none;
    color: rgb(212, 212, 212);
    margin-left: 20px;
    font-size: 14px;
    font-weight: 800;
    border-bottom: 2px solid rgb(212, 212, 212);
    transition: color 0.5s, border 0.5s;
}

header .links a:hover{
    color: white;
    border-bottom: 2px solid rgb(255, 255, 255);
}

main{
    background-color: rgb(249, 249, 249);
    height: 850px;
    margin: auto;
}

main .container{
    padding: 40px;
}

main .btns a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 800;
}

main .content{
    width: 80%;
    height: 500px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(46, 65, 129);
    border-radius: 10px;
}

main .content table{
    margin: auto;
    background-color: rgb(208, 208, 208);
    text-align: center;
}


main .content thead th{
    padding: 5px;
    font-size: 14px;
    width: 900px;    
}


main tbody td{
    font-size: 14px;
    width: 200px;  
}

main .btns img{
    width: 20px;
}

main .btns .del{
    color: rgb(255, 255, 255);
    background-color: rgb(253, 62, 62);
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid rgb(153, 0, 0);
}

main .btns .new{
    color: rgb(255, 255, 255);
    background-color: rgb(12, 182, 57);
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid rgb(74, 255, 122);
}

main .record{
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: rgb(46, 65, 129);
    justify-content: space-between;
    color: rgb(255, 255, 255);
}


footer .footer_bot{
    text-align: center;
    color: white;
    background-color: rgb(16, 126, 100);
    padding: 5px;
    position: fixed;
    position: absolute;
    bottom: 0;    
    width: 70%;
}

footer .footer_bot a{
    text-decoration: none;
    color: rgb(249, 210, 14);
}